.empty-center {
    width: 300px;
    margin: auto;
    display:grid;
    place-items: center;
}
.empty-center p {
    font-size:20px;
    text-align: center;
    padding: 12px;
    color:var(--text-color3);
}
.center-icon {
    margin-left: 110px;
}