.menu-bar {
    width: 100%;
    display:inline-flex;
    margin-top:3px;
}
.menu-icon {
    width: 40px;
    height: 40px;
    display: grid;
    margin: 8px 0px 0px 30px;
    border-radius: 50%;
    place-items: center;
}
#active {
    border-right: 0px solid var(--primary-color);
}
#active .menu-list a {
    color:var( --accent3);
}
.menu-bar .menu-list {
    color: var(--bg9);
    font-size:17px;
    padding:18px 12px 0px 10px;
}

.menu-list a {
    color: var(--bg9);
}
.logo-wrapper {
    display: inline-flex;
}
.logo-wrapper img {
   width: 90%;
   height: 90%;
   object-fit: contain
}
.logo-rounded {
    width:60px;
    height:60px;
    border-radius: 50%;
    margin: 9px 10px 15px 34px;
    display: grid;
    place-items: center;
}
.logo-wrapper h2 {
    margin:0px;
    color: var(--bg1);
    padding:14px 10px 0px 0px;
    font-weight: 600;
    font-size: 18px;
}
.switch {
    display:inline-flex;
    margin-left: 40px;
    margin-top: 30px;
}
.switch h3 {
    color:var(--text-color3);
    font-size: 14px;
    padding: 0px 12px 12px 10px;
}
.sider-wrapper {
    background-color: var(--primary-mid-dark2-color);
}
.brand p {
    color: var(--accent3);
    font-size: 12px;
}
.switch-store-bar {
    width:80%;
    height: 40px;
    margin:10%  0% 0% 15%;
    border-radius: 6px;
}
.switch-store-bar h3 {
    color:#FFCB2D;
}
.divider {
    width: 80%;
    height: 1px;
    margin:5px 0px 0px 10%;
    background-color: var( --primary-darkshade-color);
}
.page-bar-wrapper {
    width: 100%;
    height: 80px;
    background-color: var(--bg1);
    border-bottom: 1px solid var(--bg8);
    display: inline-flex;
    margin-top: -10px;
}
.far-check-icon {
    margin-left: auto;
    display: inline-flex;
}
.far-check-icon h4 {
    padding: 12px 20px 20px 20px;
}